@import url("../public/css/plugins.css");
@import url("../public/css/style.css");

.new_select {
  border: 1px solid blue;
}

.new_flex {
  display: flex;
}

@media (max-width: 600px) {
  .new_hide {
    display: none;
  }
}

.new_loader {
  z-index: 1111111111111111111111;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #18151c68;
  padding: 5rem;
}

/* //LOADER */
.new_wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.new_circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.new_circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.new_circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.new_shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.new_shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.new_shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
